
        .body-initial {
            background-color: rgba(255, 255, 255, 1);
        }
        
        .silex-id-1511387197890-55 {
            width: 100px;
            min-height: 100px;
            top: 190px;
            left: 622px;
        }
        
        @media only screen and (max-width: 480px),
        only screen and (max-device-width: 480px) {
            .silex-id-1511387197890-55 {
                width: 80px;
                min-height: 58px;
                top: 12px;
                left: 185px;
            }
        }
        
        .silex-id-1511387166160-54 {
            width: 100px;
            min-height: 100px;
            top: 133px;
            left: 662px;
        }
        
        @media only screen and (max-width: 480px),
        only screen and (max-device-width: 480px) {
            .silex-id-1511387166160-54 {
                width: 80px;
                min-height: 58px;
                top: 12px;
                left: 185px;
            }
        }
        
        .silex-id-1511387091834-53 {
            width: 100px;
            min-height: 100px;
            top: 210px;
            left: 622px;
        }
        
        @media only screen and (max-width: 480px),
        only screen and (max-device-width: 480px) {
            .silex-id-1511387091834-53 {
                width: 80px;
                min-height: 58px;
                top: 12px;
                left: 185px;
            }
        }
        
        .silex-id-1511385025235-45 {
            width: 100px;
            min-height: 100px;
            top: 210px;
            left: 622px;
        }
        
        @media only screen and (max-width: 480px),
        only screen and (max-device-width: 480px) {
            .silex-id-1511385025235-45 {
                width: 80px;
                min-height: 58px;
                top: 12px;
                left: 185px;
            }
        }
        
        .silex-id-1511384933587-44 {
            width: 100px;
            min-height: 100px;
            top: 240px;
            left: 622px;
        }
        
        @media only screen and (max-width: 480px),
        only screen and (max-device-width: 480px) {
            .silex-id-1511384933587-44 {
                width: 80px;
                min-height: 58px;
                top: 12px;
                left: 185px;
            }
        }
        
        .silex-id-1478366444112-1 {
            top: 100px;
            left: NaNpx;
            background-color: transparent;
            min-width: 1200px;
        }
        
        .silex-id-1478366444112-0 {
            min-height: 135px;
            background-color: transparent;
            width: 1200px;
            top: 15px;
            left: 100px;
        }
        
        .silex-id-1510329761154-0 {
            width: 211px;
            min-height: 164px;
            top: -13px;
            left: 25px;
        }
        
        .silex-id-1510330122841-2 {
            width: 846px;
            background-color: transparent;
            min-height: 32px;
            top: 96px;
            left: 322px;
        }
        
        .silex-id-1510330736894-9 {
            width: 116px;
            min-height: 22px;
            top: 5px;
            left: 581px;
            background-color: rgba(255, 255, 255, 1);
        }
        
        .silex-id-1510330755150-10 {
            width: 116px;
            min-height: 22px;
            top: 5px;
            left: 725px;
            background-color: rgba(255, 255, 255, 1);
        }
        
        .silex-id-1510331290351-12 {
            width: 116px;
            min-height: 22px;
            top: 5px;
            left: 5px;
            background-color: rgba(255, 255, 255, 1);
        }
        
        .silex-id-1510330587813-8 {
            width: 116px;
            min-height: 22px;
            top: 5px;
            left: 437px;
            background-color: rgba(255, 255, 255, 1);
        }
        
        .silex-id-1510330566254-7 {
            width: 116px;
            min-height: 22px;
            top: 5px;
            left: 293px;
            background-color: rgba(255, 255, 255, 1);
        }
        
        .silex-id-1510330324466-6 {
            width: 116px;
            min-height: 22px;
            top: 5px;
            left: 149px;
            background-color: rgba(255, 255, 255, 1);
        }
        
        .silex-id-1510684956589-4 {
            width: 116px;
            min-height: 22px;
            top: 4px;
            left: 150px;
            background-color: rgba(255, 255, 255, 1);
        }
        
        .silex-id-1510684984884-5 {
            width: 116px;
            min-height: 22px;
            top: 5px;
            left: 5px;
            background-color: rgba(255, 255, 255, 1);
        }
        
        .silex-id-1510686564262-10 {
            width: 116px;
            min-height: 22px;
            top: 5px;
            left: 293px;
            background-color: rgba(255, 255, 255, 1);
        }
        
        .silex-id-1510703297676-7 {
            width: 116px;
            min-height: 22px;
            top: 5px;
            left: 437px;
            background-color: rgba(255, 255, 255, 1);
        }
        
        .silex-id-1510704267447-13 {
            width: 116px;
            min-height: 22px;
            top: 5px;
            left: 581px;
            background-color: rgba(255, 255, 255, 1);
        }
        
        .silex-id-1510767169517-15 {
            width: 116px;
            min-height: 22px;
            top: 5px;
            left: 725px;
            background-color: rgba(255, 255, 255, 1);
        }
        
        .silex-id-1511389037006-64 {
            width: 210px;
            background-color: rgb(255, 255, 255);
            min-height: 43px;
            top: 5px;
            left: 600px;
        }
        
        .silex-id-1511389138757-65 {
            width: 50px;
            min-height: 43px;
            top: 0px;
            left: 0px;
        }
        
        .silex-id-1511389175399-66 {
            width: 160px;
            min-height: 43px;
            top: 0px;
            left: 50px;
        }
        
        .silex-id-1511389390822-67 {
            width: 210px;
            background-color: rgb(255, 255, 255);
            min-height: 43px;
            top: 5px;
            left: 900px;
        }
        
        .silex-id-1511389390823-69 {
            width: 160px;
            min-height: 43px;
            top: 0px;
            left: 50px;
        }
        
        .silex-id-1511389455881-70 {
            width: 50px;
            min-height: 43px;
            top: 0px;
            left: 0px;
        }
        
        @media only screen and (max-width: 480px),
        only screen and (max-device-width: 480px) {
            .silex-id-1510692173088-38 {
                top: 60px;
                left: 0px;
            }
        }
        
        .silex-id-1510692173087-37 {
            min-height: 560px;
        }
        
        @media only screen and (max-width: 480px),
        only screen and (max-device-width: 480px) {
            .silex-id-1510692173087-37 {
                min-height: 347px;
            }
        }
        
        .silex-id-1511360468455-15 {
            width: 100px;
            min-height: 100px;
            top: 100px;
            left: 607px;
        }
        
        @media only screen and (max-width: 480px),
        only screen and (max-device-width: 480px) {
            .silex-id-1511360468455-15 {
                width: 80px;
                min-height: 58px;
                top: 12px;
                left: 185px;
            }
        }
        
        .silex-id-1511382238822-27 {
            width: 100px;
            min-height: 100px;
            top: 300px;
            left: 607px;
        }
        
        @media only screen and (max-width: 480px),
        only screen and (max-device-width: 480px) {
            .silex-id-1511382238822-27 {
                width: 415px;
                min-height: 280px;
                left: 11px;
                top: 58px;
            }
        }
        
        .silex-id-1511382355073-28 {
            width: 600px;
            min-height: 100px;
            top: 27px;
            left: 261px;
        }
        
        @media only screen and (max-width: 480px),
        only screen and (max-device-width: 480px) {
            .silex-id-1511382355073-28 {
                background-color: transparent;
                top: 0px;
                left: 3px;
                width: 357px;
                min-height: 83px;
            }
        }
        
        .silex-id-1510692215537-39 {
            width: 1200px;
            min-height: 560px;
            top: 0px;
            left: 0px;
        }
        
        .silex-id-1511387515745-57 {
            width: 600px;
            min-height: 300px;
            top: 250px;
            left: 300px;
        }
        
        .silex-id-1510692273416-41 {
            min-height: 100px;
        }
        
        @media only screen and (max-width: 480px),
        only screen and (max-device-width: 480px) {
            .silex-id-1510692273416-41 {
                top: 60px;
                left: 0px;
            }
        }
        
        .silex-id-1510692273415-40 {
            min-height: 560px;
        }
        
        @media only screen and (max-width: 480px),
        only screen and (max-device-width: 480px) {
            .silex-id-1510692273415-40 {
                min-height: 267px;
                background-color: transparent;
            }
        }
        
        .silex-id-1511380877875-23 {
            width: 100px;
            min-height: 100px;
            top: 69px;
            left: 493px;
        }
        
        @media only screen and (max-width: 480px),
        only screen and (max-device-width: 480px) {
            .silex-id-1511380877875-23 {
                width: 400px;
                min-height: 267px;
                left: 50px;
                top: 1974px;
            }
        }
        
        .silex-id-1510874795372-7 {
            width: 1200px;
            min-height: 560px;
            top: 0px;
            left: 0px;
        }
        
        .silex-id-1510692578289-44 {
            width: 577px;
            min-height: 222px;
            top: 330px;
            left: 13px;
        }
        
        .silex-id-1510340832169-4 {
            top: 770px;
            left: 5px;
        }
        
        @media only screen and (max-width: 480px),
        only screen and (max-device-width: 480px) {
            .silex-id-1510340832169-4 {
                top: 475px;
                left: 0px;
            }
        }
        
        .silex-id-1510340832168-3 {
            min-height: 860px;
        }
        
        @media only screen and (max-width: 480px),
        only screen and (max-device-width: 480px) {
            .silex-id-1510340832168-3 {
                min-height: 1637px;
            }
        }
        
        .silex-id-1511357972078-0 {
            width: 400px;
            background-color: rgb(255, 255, 255);
            min-height: 400px;
            top: 20px;
            left: 150px;
        }
        
        .silex-id-1510861621035-1 {
            width: 64px;
            min-height: 55px;
            top: 55px;
            left: 168px;
        }
        
        @media only screen and (max-width: 480px),
        only screen and (max-device-width: 480px) {
            .silex-id-1510861621035-1 {
                left: 367px;
                top: 2973px;
            }
        }
        
        .silex-id-1510353946702-8 {
            width: 400px;
            min-height: 280px;
            top: 120px;
            left: 0px;
        }
        
        @media only screen and (max-width: 480px),
        only screen and (max-device-width: 480px) {
            .silex-id-1510353946702-8 {
                left: 41px;
                top: 2660px;
            }
        }
        
        .silex-id-1511358379807-1 {
            width: 400px;
            background-color: rgb(255, 255, 255);
            min-height: 400px;
            top: 20px;
            left: 650px;
        }
        
        .silex-id-1510869479328-4 {
            width: 64px;
            min-height: 55px;
            top: 55px;
            left: 168px;
        }
        
        @media only screen and (max-width: 480px),
        only screen and (max-device-width: 480px) {
            .silex-id-1510869479328-4 {
                left: 367px;
                top: 2745px;
            }
        }
        
        .silex-id-1510354446582-11 {
            width: 400px;
            min-height: 280px;
            top: 120px;
            left: 0px;
        }
        
        @media only screen and (max-width: 480px),
        only screen and (max-device-width: 480px) {
            .silex-id-1510354446582-11 {
                left: 41px;
                top: 2656px;
            }
        }
        
        .silex-id-1511358631588-4 {
            width: 400px;
            background-color: rgb(255, 255, 255);
            min-height: 400px;
            top: 440px;
            left: 150px;
        }
        
        .silex-id-1510869419748-3 {
            width: 64px;
            min-height: 55px;
            top: 55px;
            left: 168px;
        }
        
        .silex-id-1510423411911-4 {
            width: 400px;
            min-height: 280px;
            top: 120px;
            left: 0px;
        }
        
        .silex-id-1511358863346-10 {
            width: 400px;
            background-color: rgb(255, 255, 255);
            min-height: 400px;
            top: 440px;
            left: 650px;
        }
        
        .silex-id-1510853699296-0 {
            width: 64px;
            min-height: 55px;
            top: 55px;
            left: 168px;
        }
        
        .silex-id-1510423452130-5 {
            width: 400px;
            min-height: 280px;
            top: 120px;
            left: 0px;
        }
        
        @media only screen and (max-width: 480px),
        only screen and (max-device-width: 480px) {
            .silex-id-1510423452130-5 {
                left: 41px;
                top: 2660px;
            }
        }
        
        .silex-id-1474394621033-3 {
            top: 175px;
            left: 5px;
            min-width: 1200px;
            background-color: transparent;
        }
        
        .silex-id-1474394621032-2 {
            min-height: 598px;
            background-color: transparent;
            width: 1200px;
            top: 15px;
            left: 100px;
        }
        
        .silex-id-1510340365010-2 {
            width: 1600px;
            min-height: 560px;
            top: 0px;
            left: 0px;
        }
        
        .silex-id-1510334789629-2 {
            width: 800px;
            min-height: 280px;
            top: 250px;
            left: 400px;
        }
        
        .silex-id-1510434113732-6 {
            width: 1600px;
            min-height: 560px;
            top: 0px;
            left: 0px;
            background-color: rgba(38, 87, 128, 1);
        }
        
        .silex-id-1510678572284-7 {
            width: 300px;
            background-color: rgba(38, 87, 128, 1);
            min-height: 560px;
            top: 0px;
            left: 220px;
        }
        
        .silex-id-1510432927070-3 {
            width: 290px;
            min-height: 550px;
            top: 5px;
            left: 5px;
            background-color: rgba(38, 87, 128, 1);
        }
        
        .silex-id-1510685943664-8 {
            width: 1200px;
            background-color: transparent;
            min-height: 598px;
            top: 0px;
            left: 0px;
        }
        
        .silex-id-1511390683228-71 {
            width: 1200px;
            min-height: 598px;
            top: 0px;
            left: 0px;
        }
        
        .silex-id-1510686077518-9 {
            width: 593px;
            min-height: 156px;
            top: 18px;
            left: 576px;
        }
        
        .silex-id-1510686650506-12 {
            min-height: 100px;
        }
        
        .silex-id-1510686650505-11 {
            min-height: 1200px;
        }
        
        .silex-id-1510687024297-13 {
            width: 1200px;
            background-color: rgb(255, 255, 255);
            min-height: 300px;
            top: 0px;
            left: 0px;
        }
        
        .silex-id-1511383048073-32 {
            width: 1200px;
            background-color: rgb(255, 255, 255);
            min-height: 300px;
            top: 0px;
            left: 0px;
        }
        
        .silex-id-1510687538731-15 {
            width: 400px;
            background-color: rgb(255, 255, 255);
            min-height: 300px;
            top: 0px;
            left: 100px;
        }
        
        .silex-id-1511383211501-33 {
            width: 64px;
            min-height: 55px;
            top: 20px;
            left: 168px;
        }
        
        @media only screen and (max-width: 480px),
        only screen and (max-device-width: 480px) {
            .silex-id-1511383211501-33 {
                left: 355px;
                top: 2805px;
            }
        }
        
        .silex-id-1510687611976-16 {
            width: 390px;
            min-height: 210px;
            top: 80px;
            left: 5px;
        }
        
        @media only screen and (max-width: 480px),
        only screen and (max-device-width: 480px) {
            .silex-id-1510687611976-16 {
                left: 45px;
                top: 2577px;
            }
        }
        
        .silex-id-1510687485092-14 {
            width: 400px;
            min-height: 290px;
            top: 5px;
            left: 700px;
        }
        
        .silex-id-1511392419401-0 {
            width: 1200px;
            min-height: 300px;
            top: 0px;
            left: 0px;
        }
        
        .silex-id-1510688744484-18 {
            width: 1200px;
            background-color: rgb(255, 255, 255);
            min-height: 300px;
            top: 300px;
            left: 0px;
        }
        
        .silex-id-1511383354261-34 {
            width: 1200px;
            background-color: rgb(255, 255, 255);
            min-height: 300px;
            top: 0px;
            left: 0px;
        }
        
        @media only screen and (max-width: 480px),
        only screen and (max-device-width: 480px) {
            .silex-id-1511383354261-34 {
                left: 22px;
                top: 2193px;
            }
        }
        
        .silex-id-1511383354262-35 {
            width: 400px;
            background-color: rgb(255, 255, 255);
            min-height: 300px;
            top: 0px;
            left: 700px;
        }
        
        .silex-id-1510688744484-20 {
            width: 400px;
            background-color: rgb(255, 255, 255);
            min-height: 300px;
            top: 0px;
            left: 0px;
        }
        
        .silex-id-1511383694571-39 {
            width: 64px;
            min-height: 55px;
            top: 20px;
            left: 168px;
        }
        
        .silex-id-1510688744485-21 {
            width: 390px;
            min-height: 210px;
            top: 80px;
            left: 5px;
        }
        
        @media only screen and (max-width: 480px),
        only screen and (max-device-width: 480px) {
            .silex-id-1510688744485-21 {
                left: 27px;
                top: 2868px;
            }
        }
        
        .silex-id-1510690151359-24 {
            width: 400px;
            min-height: 290px;
            top: 5px;
            left: 100px;
        }
        
        @media only screen and (max-width: 480px),
        only screen and (max-device-width: 480px) {
            .silex-id-1510690151359-24 {
                left: 17px;
                top: 307px;
                width: 362px;
                min-height: 227px;
            }
        }
        
        .silex-id-1511392444307-1 {
            width: 1200px;
            min-height: 300px;
            top: 0px;
            left: 0px;
        }
        
        .silex-id-1510690298415-30 {
            width: 1200px;
            background-color: rgb(255, 255, 255);
            min-height: 300px;
            top: 600px;
            left: 0px;
        }
        
        .silex-id-1511384426655-40 {
            width: 1200px;
            background-color: rgb(255, 255, 255);
            min-height: 300px;
            top: 0px;
            left: 0px;
        }
        
        .silex-id-1510690298416-32 {
            width: 400px;
            background-color: rgb(255, 255, 255);
            min-height: 300px;
            top: 0px;
            left: 100px;
        }
        
        .silex-id-1511382981915-31 {
            width: 64px;
            min-height: 49px;
            top: 20px;
            left: 168px;
        }
        
        @media only screen and (max-width: 480px),
        only screen and (max-device-width: 480px) {
            .silex-id-1511382981915-31 {
                left: 355px;
                top: 2676px;
            }
        }
        
        .silex-id-1510690298416-33 {
            width: 390px;
            min-height: 210px;
            top: 80px;
            left: 5px;
        }
        
        @media only screen and (max-width: 480px),
        only screen and (max-device-width: 480px) {
            .silex-id-1510690298416-33 {
                left: 45px;
                top: 2445px;
            }
        }
        
        .silex-id-1510691773586-35 {
            width: 400px;
            min-height: 290px;
            top: 5px;
            left: 700px;
        }
        
        .silex-id-1511392462398-2 {
            width: 1200px;
            min-height: 300px;
            top: 0px;
            left: 0px;
        }
        
        .silex-id-1510693363156-46 {
            width: 1200px;
            background-color: rgb(255, 255, 255);
            min-height: 300px;
            top: 900px;
            left: 0px;
        }
        
        .silex-id-1511384623460-41 {
            width: 1200px;
            background-color: rgb(255, 255, 255);
            min-height: 300px;
            top: 0px;
            left: 0px;
        }
        
        .silex-id-1510693363156-47 {
            width: 400px;
            background-color: rgb(255, 255, 255);
            min-height: 300px;
            top: 0px;
            left: 700px;
        }
        
        .silex-id-1511384801896-43 {
            width: 64px;
            min-height: 55px;
            top: 20px;
            left: 168px;
        }
        
        .silex-id-1510693363156-48 {
            width: 390px;
            min-height: 210px;
            top: 80px;
            left: 5px;
        }
        
        @media only screen and (max-width: 480px),
        only screen and (max-device-width: 480px) {
            .silex-id-1510693363156-48 {
                left: 36px;
                top: 2975px;
            }
        }
        
        .silex-id-1510694407546-52 {
            width: 400px;
            min-height: 290px;
            top: 5px;
            left: 103px;
        }
        
        .silex-id-1511392503097-3 {
            width: 1200px;
            min-height: 300px;
            top: 0px;
            left: 0px;
        }
        
        .silex-id-1510766015259-10 {
            min-height: 100px;
        }
        
        .silex-id-1510766015258-9 {
            background-color: rgba(43, 88, 127, 1);
            min-height: 100px;
        }
        
        .silex-id-1510766035224-11 {
            width: 1000px;
            min-height: 100px;
            top: 0px;
            left: 100px;
        }
        
        .silex-id-1510767385230-16 {
            width: 600px;
            min-height: 100px;
            top: 0px;
            left: 300px;
        }
        
        .silex-id-1510704360184-15 {
            min-height: 100px;
        }
        
        .silex-id-1510704360183-14 {
            min-height: 800px;
        }
        
        .silex-id-1510705556109-18 {
            width: 200px;
            min-height: 89px;
            top: 5px;
            left: 335px;
        }
        
        .silex-id-1510705604949-19 {
            width: 200px;
            min-height: 86px;
            top: 400px;
            left: 995px;
        }
        
        .silex-id-1510764796624-4 {
            width: 200px;
            min-height: 66px;
            top: 200px;
            left: 995px;
        }
        
        .silex-id-1510705663456-21 {
            width: 200px;
            min-height: 88px;
            top: 5px;
            left: 5px;
        }
        
        .silex-id-1510764805556-5 {
            width: 200px;
            min-height: 149px;
            top: 5px;
            left: 995px;
        }
        
        .silex-id-1510705689897-22 {
            width: 200px;
            min-height: 67px;
            top: 400px;
            left: 665px;
        }
        
        .silex-id-1510764667257-0 {
            width: 200px;
            min-height: 44px;
            top: 400px;
            left: 335px;
        }
        
        .silex-id-1510764735152-2 {
            width: 200px;
            min-height: 98px;
            top: 200px;
            left: 335px;
        }
        
        .silex-id-1510764712996-1 {
            width: 200px;
            min-height: 160px;
            top: 200px;
            left: 5px;
        }
        
        .silex-id-1510764784653-3 {
            width: 200px;
            min-height: 53px;
            top: 400px;
            left: 5px;
        }
        
        .silex-id-1510765846329-7 {
            width: 200px;
            min-height: 96px;
            top: 600px;
            left: 5px;
        }
        
        .silex-id-1510705705399-23 {
            width: 200px;
            min-height: 36px;
            top: 600px;
            left: 335px;
        }
        
        .silex-id-1516124833796-0 {
            width: 200px;
            min-height: 247px;
            top: 5px;
            left: 665px;
        }
        
        .silex-id-1510705650371-20 {
            width: 200px;
            min-height: 54px;
            top: 600px;
            left: 665px;
        }
        
        .silex-id-1510766646625-13 {
            min-height: 100px;
        }
        
        .silex-id-1510766646624-12 {
            background-color: rgba(43, 88, 127, 1);
            min-height: 500px;
        }
        
        .silex-id-1510766671580-14 {
            width: 400px;
            height: 471px;
            background-color: transparent;
            top: 10px;
            left: 400px;
            min-height: -21px;
        }
        
        @media only screen and (max-width: 480px),
        only screen and (max-device-width: 480px) {
            .silex-id-1511283841353-1 {
                top: 60px;
                left: 0px;
            }
        }
        
        .silex-id-1511283841351-0 {
            min-height: 598px;
        }
        
        @media only screen and (max-width: 480px),
        only screen and (max-device-width: 480px) {
            .silex-id-1511283841351-0 {
                min-height: 598px;
            }
        }
        
        .silex-id-1511283901150-2 {
            width: 1200px;
            min-height: 598px;
            top: 6px;
            left: 0px;
        }
        
        .silex-id-1510684369310-0 {
            background-color: rgba(233, 233, 233, 1);
            min-height: 200px;
        }
        
        .silex-id-1510684396925-2 {
            width: 1100px;
            background-color: rgb(255, 255, 255);
            min-height: 150px;
            top: 0px;
            left: 50px;
        }
        
        .silex-id-1510684483849-3 {
            width: 1100px;
            min-height: 150px;
            top: 0px;
            left: 0px;
            background-color: rgba(233, 233, 233, 1);
        }
        
        .silex-id-1512500501866-2 {
            width: 300px;
            min-height: 25px;
            top: 165px;
            left: 450px;
        }
        
        @media only screen and (max-width: 480px),
        only screen and (max-device-width: 480px) {
            .silex-id-1510875042803-9 {
                top: 570px;
                left: 0px;
            }
        }
        
        .silex-id-1510875042802-8 {
            min-height: 400px;
        }
        
        @media only screen and (max-width: 480px),
        only screen and (max-device-width: 480px) {
            .silex-id-1510875042802-8 {
                top: 0px;
                left: 12px;
                width: 438px;
                min-height: 1284px;
            }
        }
        
        .silex-id-1510875089728-10 {
            width: 1200px;
            background-color: rgb(255, 255, 255);
            min-height: 400px;
            top: 0px;
            left: 0px;
        }
        
        .silex-id-1511361000176-16 {
            width: 300px;
            background-color: rgb(255, 255, 255);
            min-height: 400px;
            top: 0px;
            left: 0px;
        }
        
        .silex-id-1510875816658-11 {
            width: 64px;
            min-height: 55px;
            top: 15px;
            left: 118px;
        }
        
        @media only screen and (max-width: 480px),
        only screen and (max-device-width: 480px) {
            .silex-id-1510875816658-11 {
                left: 317px;
                top: 2500px;
            }
        }
        
        .silex-id-1510680328225-11 {
            width: 280px;
            min-height: 310px;
            top: 80px;
            left: 10px;
        }
        
        @media only screen and (max-width: 480px),
        only screen and (max-device-width: 480px) {
            .silex-id-1510680328225-11 {
                left: 101px;
                top: 2173px;
            }
        }
        
        .silex-id-1511361204809-17 {
            width: 300px;
            background-color: rgb(255, 255, 255);
            min-height: 400px;
            top: 0px;
            left: 900px;
        }
        
        @media only screen and (max-width: 480px),
        only screen and (max-device-width: 480px) {
            .silex-id-1511361204809-17 {
                top: 400px;
                left: 58px;
                width: 300px;
                min-height: 468px;
            }
        }
        
        .silex-id-1510875880603-12 {
            width: 64px;
            min-height: 55px;
            top: 15px;
            left: 118px;
        }
        
        .silex-id-1510681615602-16 {
            width: 280px;
            min-height: 310px;
            top: 80px;
            left: 10px;
        }
        
        .silex-id-1511361369944-20 {
            width: 600px;
            background-color: rgb(255, 255, 255);
            min-height: 400px;
            top: 0px;
            left: 300px;
        }
        
        @media only screen and (max-width: 480px),
        only screen and (max-device-width: 480px) {
            .silex-id-1511361369944-20 {
                top: 800px;
                left: 10px;
                width: 397px;
                min-height: 416px;
            }
        }
        
        .silex-id-1510680916075-12 {
            width: 600px;
            min-height: 400px;
            top: 0px;
            left: 0px;
        }
        
        @media only screen and (max-width: 480px),
        only screen and (max-device-width: 480px) {
            .silex-id-1510680916075-12 {
                left: 21px;
                top: 2254px;
            }
        }
        
        .silex-id-1510680979821-13 {
            width: 600px;
            min-height: 280px;
            top: 0px;
            left: 0px;
        }
        
        @media only screen and (max-width: 480px),
        only screen and (max-device-width: 480px) {
            .silex-id-1510680979821-13 {
                left: 10px;
                top: 400px;
                width: 376px;
                min-height: 326px;
            }
        }
        
        @media only screen and (max-width: 480px),
        only screen and (max-device-width: 480px) {
            .silex-id-1510698894011-1 {
                top: 60px;
                left: 0px;
            }
        }
        
        .silex-id-1510698894008-0 {
            background-color: transparent;
            min-height: 718px;
        }
        
        @media only screen and (max-width: 480px),
        only screen and (max-device-width: 480px) {
            .silex-id-1510698894008-0 {
                min-height: 248px;
            }
        }
        
        .silex-id-1511386127757-49 {
            width: 415px;
            min-height: 248px;
            top: 44px;
            left: 397px;
        }
        
        .silex-id-1511385408419-48 {
            width: 1200px;
            min-height: 718px;
            top: 0px;
            left: 0px;
        }
        
        .silex-id-1511385146293-47 {
            min-height: 100px;
        }
        
        .silex-id-1511385146292-46 {
            min-height: 400px;
        }
        
        .silex-id-1510700900646-2 {
            width: 600px;
            background-color: transparent;
            min-height: 400px;
            top: 0px;
            left: 600px;
        }
        
        .silex-id-1511386479073-50 {
            width: 128px;
            min-height: 111px;
            top: 136px;
            left: 61px;
        }
        
        @media only screen and (max-width: 480px),
        only screen and (max-device-width: 480px) {
            .silex-id-1511386479073-50 {
                top: 153px;
                left: 1px;
                width: 128px;
                min-height: 95px;
            }
        }
        
        .silex-id-1510702726110-5 {
            width: 350px;
            min-height: 310px;
            top: 50px;
            left: 250px;
        }
        
        @media only screen and (max-width: 480px),
        only screen and (max-device-width: 480px) {
            .silex-id-1510702726110-5 {
                left: 99px;
                top: 1261px;
                width: 283px;
                min-height: 310px;
            }
        }
        
        .silex-id-1510700843922-0 {
            width: 600px;
            background-color: transparent;
            min-height: 400px;
            top: 0px;
            left: 0px;
        }
        
        @media only screen and (max-width: 480px),
        only screen and (max-device-width: 480px) {
            .silex-id-1510700843922-0 {
                left: 23px;
                top: 2404px;
            }
        }
        
        .silex-id-1511386845438-51 {
            width: 128px;
            min-height: 111px;
            top: 136px;
            left: 61px;
        }
        
        .silex-id-1511386911579-52 {
            width: 1200px;
            min-height: 100px;
            top: 300px;
            left: 0px;
        }
        
        .silex-id-1510701621729-4 {
            width: 350px;
            min-height: 312px;
            top: 50px;
            left: 250px;
        }
        
        @media only screen and (max-width: 480px),
        only screen and (max-device-width: 480px) {
            .silex-id-1510701621729-4 {
                left: 132px;
                top: 44px;
                width: 284px;
                min-height: 312px;
            }
        }
        
        .silex-id-1510425478092-9 {
            background-color: transparent;
            top: 1849px;
            left: 5px;
        }
        
        .silex-id-1510425478092-8 {
            background-color: rgba(8, 37, 80, 1);
            min-height: 100px;
        }
        
        .silex-id-1510425595635-10 {
            width: 900px;
            min-height: 80px;
            top: 5px;
            left: 150px;
        }
        
        @media only screen and (max-width: 480px),
        only screen and (max-device-width: 480px) {
            .silex-id-1510425595635-10 {
                top: 0px;
                left: 11px;
                width: 417px;
                min-height: 108px;
            }
        }
    